---
import PokemonCard from "@components/Pokemons/PokemonCard.astro";
import type { Pockemon } from "@interfaces/pockemon";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon/?limit=151");
    const { results }: Pockemon = await resp.json();
   
    return results.map(({ name, url }) => {
        const id = url.split("/").at(-2);
        return {
            params: { id },
            props: { name, url },
        };
    });

    /*
    
    return [
        ...results.map(({ name, url }) => ({
          params: { name },
          props: { name, url },
        })),

   
    ];
    */
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { url,name } = Astro.props;



const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<Layout title={`Pokémon Static | ${name}`}>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-3xl capitalize">Pokémon: {name}</h1>
        </div>
        <PokemonCard name={name} url={url} isBig/>

        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
    </section>
</Layout>

<style>
    a {
        @apply hover:underline text-blue-500;
    }
</style>
